* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  padding: 2rem 6rem;
}

header {
  padding: 2rem 6rem;
  background-color: brown;

}

.nav {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.contact {
  margin-bottom: 2rem;
}

#button {
  background-color: brown;
  color: white;
  border-radius: 10px;
  border: 1px solid brown;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#button:hover {
  background-color: white;
  color: brown;
  transition: 0.3s all ease-in-out;
}

.my-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}